<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estado</title>
    <style type="text/css">
        body {
            text-align: center;            
        }

        #menu ul li {
            display: inline;
            margin-right: 20px;
        }

        table,
        th,
        td {
            border: 1px solid;
        }

        table {
            margin: auto;
        }
    </style>
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Estado</a></li>
        </ul>
    </div>
    <div>       
        <h3>Estados</h3>        
    </div>
    <div>       
        <p>Cadastrar</p>        
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Estado</th>
                    <th>Sigla</th>
                    <th>Acões</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="estado : ${estados}">
                    <td th:text="${estado.id}"></td>
                    <td th:text="${estado.nome}"></td>
                    <td th:text="${estado.sigla}"></td>
                    <td colspan="2"><a href="" type="button" th:href="@{/editarEstado/{id} (id=${estado.id})}">Editar</a> <a href="" type="button" th:href="@{/excluirEstado/{id} (id=${estado.id})}">Excluir</a></td>
                </tr>
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</body>

</html>